RewriteEngine On

RewriteRule ^devices?$ resources/devices/ [NC,L]
RewriteRule ^devices/([0-9]+)?$ resources/devices/device/?id=$1 [NC,L]
RewriteRule ^devices/([0-9]+)/summary?$ resources/devices/device/summary/?id=$1 [NC,L]
RewriteRule ^devices/([0-9]+)/usage?$ resources/devices/device/usage/?id=$1 [NC,L]
RewriteRule ^update/([0-9]+)?$ resources/update/?deviceId=$1 [NC,L]
