RewriteEngine On

RewriteRule ^devices?$ resources/devices/ [NC,L]
RewriteRule ^devices/([0-9]+)?$ resources/devices/device/?id=$1 [NC,L]
RewriteRule ^devices/([0-9]+)/summary?$ resources/devices/device/summary/?id=$1 [NC,L]
RewriteRule ^devices/([0-9]+)/usage?$ resources/devices/device/usage/?id=$1 [NC,L]

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^devices/([0-9]+)/usage/years?$ resources/devices/device/usage/years/?id=$1&%1 [NC,L]
RewriteRule ^devices/([0-9]+)/usage/([0-9]+)?$ resources/devices/device/usage/years/year/?id=$1&year=$2 [NC,L]

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^devices/([0-9]+)/usage/([0-9]+)/months?$ resources/devices/device/usage/years/months/?id=$1&year=$2&%1 [NC,L]
RewriteRule ^devices/([0-9]+)/usage/([0-9]+)/months/([0-9]+)?$ resources/devices/device/usage/years/months/month/?id=$1&year=$2&month=$3 [NC,L]

RewriteRule ^update/([0-9]+)?$ resources/update/?deviceId=$1 [NC,L]
